<div class="k-toolbar">
  <button kendoButton [icon]="'arrow-left'" #anchor (click)="goHomePage()" class="k-button">Back</button>
  <button kendoButton [icon]="'arrow-down'" #anchor (click)="onToggle()" class="k-button">Actions</button>
  <button class="k-button" (click)="saveGrids()">Save Grid Settings</button>
</div>
<kendo-popup style="width: 100%;" type="slide" [anchor]="anchor" [popupClass]="'content popup'" *ngIf="showMenu">
  <div style="width: 100%;height: 300px;background-color: rgb(245,247,248);padding:30px;">
    <div class="row expand-menu">
      <div class="col-3 column">
        <h6>Approve</h6>
        <ul>
          <li>View Approve History</li>
        </ul>
      </div>
      <div class="col-3 column">
        <h6>Assumption</h6>
        <ul>
          <li>Explorer</li>
          <li>Set Globle Assumption</li>
          <li>Set Group Assumption</li>
          <li>Set Individual Assumption</li>
        </ul>
      </div>
      <div class="col-3 column">
        <h6>Item</h6>
        <ul>
          <li>Merge Split</li>
          <li>Edit Item Info</li>
          <li>Add Dummy Item</li>
          <li>Select All</li>
          <li>Lock</li>
          <li>UnLock</li>
          <li>Delete</li>
        </ul>
      </div>
      <div class="col-3 column">
        <h6>Item</h6>
        <ul>
          <li>Merge Split</li>
          <li>Edit Item Info</li>
          <li>Add Dummy Item</li>
          <li>Select All</li>
          <li>Lock</li>
          <li>UnLock</li>
          <li>Delete</li>
        </ul>
      </div>
    </div>
  </div>
</kendo-popup>

<kendo-splitter orientation="vertical" style="height: calc(100% - 105px);padding: 4px;">
  <kendo-splitter-pane>
    <kendo-splitter>
      <kendo-splitter-pane>
        <div class="pane-content" style="height: 100%;">
          <div class="row" style="margin-left:0px;margin-right:0px;">
            <div class="col-12 d-none d-xl-block d-lg-block"
              style="display: flex;text-align: right;padding-bottom: 2px;">
              <i style="background-color: rgba(255, 251, 175, 0.4); color: rgba(255, 251, 175, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);padding:-1;"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Contractual Figures</span>
              <i style="background-color: rgba(255,58,40, 0.4); color: rgba(255,58,40, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Expiry Void Period</span>
              <i style="background-color: rgba(255, 128, 171, 0.4);color: rgba(255, 128, 171, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Bi-Void Period</span>
              <i style="background-color: rgba(185, 247, 202, 0.4);color: rgba(185, 247, 202, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Forecasting Figures</span>
              <i style="background-color: rgba(127,255,255, 0.4);color: rgba(127,255,255, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Rent Free Period</span>
              <i style="background-color: rgba(255,178,127, 0.4);color: rgba(255,178,127, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Rent Review</span>
            </div>
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none" style="display: flex;text-align: right;">
              <i style="background-color: rgba(255, 251, 175, 0.4); color: rgba(255, 251, 175, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Contractual Figures</span>
              <i style="background-color: rgba(255,58,40, 0.4); color: rgba(255,58,40, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Expiry Void Period</span>
              <i style="background-color: rgba(255, 128, 171, 0.4);color: rgba(255, 128, 171, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Bi-Void Period</span>
            </div>
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none" style="display: flex;text-align: right;">
              <i style="background-color: rgba(185, 247, 202, 0.4);color: rgba(185, 247, 202, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Forecasting Figures</span>
              <i style="background-color: rgba(127,255,255, 0.4);color: rgba(127,255,255, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Rent Free Period</span>
              <i style="background-color: rgba(255,178,127, 0.4);color: rgba(255,178,127, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                class="fas fa-square"></i>
              <span style="margin-left:10px;margin-right: 10px">Rent Review</span>
            </div>
            <div class="col-12 d-block d-sm-none" style="display: flex">
              <div>
                <i style="background-color: rgba(255, 251, 175, 0.4); color: rgba(255, 251, 175, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                  class="fas fa-square"></i>
                <span style="margin-left:10px;margin-right: 10px">Contractual Figures</span>
              </div>
              <div>
                <i style="background-color: rgba(255,58,40, 0.4); color: rgba(255,58,40, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                  class="fas fa-square"></i>
                <span style="margin-left:10px;margin-right: 10px">Expiry Void Period</span>
              </div>
              <div>
                <i style="background-color: rgba(255, 128, 171, 0.4);color: rgba(255, 128, 171, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                  class="fas fa-square"></i>
                <span style="margin-left:10px;margin-right: 10px">Bi-Void Period</span>
              </div>
              <div>
                <i style="background-color: rgba(185, 247, 202, 0.4);color: rgba(185, 247, 202, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                  class="fas fa-square"></i>
                <span style="margin-left:10px;margin-right: 10px">Forecasting Figures</span>
              </div>
              <div>
                <i style="background-color: rgba(127,255,255, 0.4);color: rgba(127,255,255, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                  class="fas fa-square"></i>
                <span style="margin-left:10px;margin-right: 10px">Rent Free Period</span>
              </div>
              <div>
                <i style="background-color: rgba(255,178,127, 0.4);color: rgba(255,178,127, 0.4); border-width: 2px;border-style: solid;border-color: rgba(215, 215, 215, 1);"
                  class="fas fa-square"></i>
                <span style="margin-left:10px;margin-right: 10px">Rent Review</span>
              </div>
            </div>
          </div>
          <ag-grid-angular #termGrid [defaultColDef]="revenueDefaultColDefs"
            style="width: 100%; height: calc(100% - 90px);" id="revenueGrid" class="ag-theme-balham"
            [columnDefs]="revenueColDefs" (gridReady)="onRevenueGridReady($event)" [components]="components"
            [rowSelection]="'multiple'" [rowData]="revenueRowData" [floatingFilter]="true" [singleClickEdit]="true"
            [suppressRowClickSelection]="'true'" (cellFocused)="onCellFocused($event)" [editType]="'fullRow'"
            [gridOptions]="revenueGridOptions" [getContextMenuItems]="getRevenueMenu">
          </ag-grid-angular>
          <ag-grid-angular #termFooterGrid [defaultColDef]="revenueDefaultColDefs" headerHeight="0"
            style="width: 100%; height: 60px" id="revenueGrid" class="ag-theme-balham"
            [columnDefs]="revenueFooterColDefs" (gridReady)="onRevenueFooterGridReady($event)"
            [rowData]="revenueFooterRowData" [gridOptions]="revenueFooterGridOptions">
          </ag-grid-angular>
        </div>
      </kendo-splitter-pane>
    </kendo-splitter>
  </kendo-splitter-pane>
  <kendo-splitter-pane [collapsible]="true" [resizable]="true" size="30%">
    <kendo-splitter>
      <kendo-splitter-pane>
        <div class="row"
          style="height:100%;padding-left: 0px;padding-right:0px;margin-left:0px;margin-right: 0px;padding-top:10px;">
          <div class="col-9" style="padding-left:0px">
            <kendo-tabstrip style="height: 100%">
              <kendo-tabstrip-tab [title]="'Periodic Charge'" style="height: 100%" [selected]="true">
                <ng-template kendoTabContent style="height: 100%">
                  <div class="pane-content" style="height: 100%;padding: 10px;">
                    <div class="row" style="height:100%">
                      <ag-grid-angular #pcGrid [defaultColDef]="defaultColDef" style="width: 100%; height: 100%;"
                        [enableRangeSelection]="true" id="pcGrid" class="ag-theme-balham" [columnDefs]="pcGridColDefs"
                        (gridReady)="onPCGridReady($event)" [rowData]="pcRowData"></ag-grid-angular>
                    </div>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab [title]="'Rent Review'">
                <ng-template kendoTabContent>
                  <div class="pane-content" style="height: 100%;padding: 10px;">
                    <div class="row" style="height:100%">
                      <ag-grid-angular #rentGrid [defaultColDef]="defaultColDef" style="width: 100%; height: 100%;"
                        [enableRangeSelection]="true" id="rentGrid" class="ag-theme-balham"
                        [columnDefs]="rentGridColDefs" (gridReady)="onRentGridReady($event)" [rowData]="rentRowData">
                      </ag-grid-angular>
                    </div>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab [title]="'Current Term Assumption'">
                <ng-template kendoTabContent>
                  <div class="pane-content" style="height: 100%;padding: 10px;">
                    <div class="row" style="height:100%">
                      <ag-grid-angular #currentTermGrid [defaultColDef]="defaultColDef"
                        style="width: 100%; height: 100%;" id="currentTermGrid" class="ag-theme-balham"
                        [enableRangeSelection]="true" [columnDefs]="termAssumptionReadOnlyColDefs" [masterDetail]="true"
                        [detailRowHeight]="150" [detailCellRendererParams]="rfpAssumptionReadOnlyColDefs"
                        (gridReady)="onCurrentTermReadOnlyGridReady($event)" [rowData]="currentTermReadOnlyDataRow">
                      </ag-grid-angular>
                    </div>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>
          </div>
          <div class="col-3" style="border-left: 1px solid #e2e4e7;">
            <div *ngIf="showDataRow != null" class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Unit</div>
                  <div class="col-12">{{showDataRow.unit}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Lease No.</div>
                  <div class="col-12">{{showDataRow.leaseNo}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">B.U</div>
                  <div class="col-12">{{showDataRow.businessUnit}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Comm. Date</div>
                  <div class="col-12">{{showDataRow.commDate | date: 'dd-MM-yyyy'}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Exp. date</div>
                  <div class="col-12">{{showDataRow.expiryDate | date: 'dd-MM-yyyy'}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Last Sync. Date</div>
                  <div class="col-12">{{showDataRow.lastSyncDate | date: 'dd-MM-yyyy'}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Tenant</div>
                  <div class="col-12">{{showDataRow.tenant}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Floor</div>
                  <div class="col-12">{{showDataRow.floor}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Trade Category</div>
                  <div class="col-12">{{showDataRow.trade}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Trade Sub-Category</div>
                  <div class="col-12">{{showDataRow.subTrade}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Item Start Date</div>
                  <div class="col-12">{{showDataRow.itemStartDate | date: 'dd-MM-yyyy'}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Item End date</div>
                  <div class="col-12">{{showDataRow.itemEndDate | date: 'dd-MM-yyyy'}}</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="col-12" style="font-weight: 700;margin-top: 5px;">Weighted Area(sf)</div>
                  <div class="col-12">{{showDataRow.weightedArea}}</div>
                </div>
              </div>
            </div>
            <div *ngIf="showDataRow == null">
              Mouse on row to show data.
            </div>
          </div>
        </div>
      </kendo-splitter-pane>
    </kendo-splitter>
  </kendo-splitter-pane>
</kendo-splitter>

<kendo-dialog title="Edit Term Assumption" *ngIf="showEditAssumptionDialog" (close)="close()" [minWidth]="300"
  [width]="width" [height]="730">
  <div style="padding:5px;height:100%;">
    <kendo-grid [data]="editingTermAssumptionRowData" style="height: 100%" [navigable]="true"
      (detailExpand)="expandHandler($event)" (detailCollapse)="collapseHandler($event)" (add)="addHandler($event)" (edit)="editHandler($event)"
      (save)="saveHandler($event)" (cancel)="cancelHandler($event)" (remove)="removeHandler($event)">
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand [disabled]="editingRfpRowIndex >= 0 || editingRowIndex >= 0" >Add new</button>
      </ng-template>
      <kendo-grid-column field="seq" title="Seq" width="50"></kendo-grid-column>
      <kendo-grid-column-group title="EVP">
        <kendo-grid-column field="evpFrom" editor="date" title="From" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>{{dataItem.evpFrom | date : 'dd-MM-yyyy'}}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="evpTo" editor="date" title="To" format="dd-MM-yyyy" width="150">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="editingAssumptionFormGroup">
            <kendo-datepicker #evpTo [min]="editingAssumption.prevEndDate" format="dd-MM-yyyy"
              (valueChange)="onEvpToChange($event)" [formControl]="editingAssumptionFormGroup.get(column.field)">
            </kendo-datepicker>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="evpMD" title="MM/DD" width="100">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="editingAssumptionFormGroup">
            <kendo-maskedtextbox #evpMD mask="99/99" includeLiterals="true"
              [formControl]="editingAssumptionFormGroup.get(column.field)" (change)="onEvpMDChange($event)">
            </kendo-maskedtextbox>
            <kendo-popup [anchor]="evpMD"
              *ngIf="editingAssumptionFormGroup.get(column.field).invalid && !(editingAssumptionFormGroup.get(column.field).untouched)"
              popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
              <span class="k-icon k-i-warning"></span>
              <span>format e.g. 01/00</span>
            </kendo-popup>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid-column-group>

      <kendo-grid-column-group title="Term">
        <kendo-grid-column field="termFrom" title="From" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>{{dataItem.termFrom | date : 'dd-MM-yyyy'}}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="termTo" editor="date" title="To" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>{{dataItem.termTo | date : 'dd-MM-yyyy'}}</span>
          </ng-template>
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="editingAssumptionFormGroup">
            <kendo-datepicker #termTo [min]="editingAssumption.termFrom" format="dd-MM-yyyy"
              (valueChange)="onTermToChange($event)" [formControl]="editingAssumptionFormGroup.get(column.field)">
            </kendo-datepicker>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="termMD" title="MM/DD" width="100">
          <ng-template kendoGridEditTemplate let-column="column" let-formGroup="editingAssumptionFormGroup">
            <kendo-maskedtextbox #termMD mask="99/99" includeLiterals="true"
              [formControl]="editingAssumptionFormGroup.get(column.field)" (change)="onTermMDChange($event)">
            </kendo-maskedtextbox>
            <kendo-popup [anchor]="termMD"
              *ngIf="editingAssumptionFormGroup.get(column.field).invalid && !(editingAssumptionFormGroup.get(column.field).untouched)"
              popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
              <span class="k-icon k-i-warning"></span>
              <span>invalid MD e.g. 01/00</span>
            </kendo-popup>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid-column-group>

      <kendo-grid-column field="remarks" editor="text" title="Remarks"></kendo-grid-column>
      <kendo-grid-command-column title="" width="200">
        <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
          <button kendoGridEditCommand [disabled]="editingRowIndex >= 0 || dataItem.isLocked || editingRfpRowIndex >= 0" [primary]="true">Edit</button>
          <button kendoGridSaveCommand [disabled]="editingAssumptionFormGroup?.invalid">Update</button>
          <button kendoGridCancelCommand>Cancel</button>
          <button kendoGridRemoveCommand [disabled]="editingRowIndex >= 0 || dataItem.isLocked || editingRfpRowIndex >= 0">Remove</button>
        </ng-template>
      </kendo-grid-command-column>
      <div *kendoGridDetailTemplate="let di">
        <kendo-grid  [data]="di.rfpAssumptions" [navigable]="true" kendoGridFocusable (add)="rfpAddHandler($event)"
          (edit)="rfpEditHandler($event)" (save)="rfpSaveHandler($event)" (cancel)="rfpCancelHandler($event)"
          (remove)="rfpRemoveHandler($event)">
          <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand [disabled]="editingRfpRowIndex >= 0 || editingRowIndex >= 0" >Add new</button>
          </ng-template>
          <kendo-grid-column-group title="RFP">
              <kendo-grid-column field="rfpFrom" title="From" width="150">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <span>{{dataItem.rfpFrom | date : 'dd-MM-yyyy'}}</span>
                  </ng-template>
                  <ng-template kendoGridEditTemplate let-column="column" let-formGroup="editingRfpFormGroup"
                    let-dataItem="dataItem">
                    <kendo-datepicker #rfpFrom 
                    format="dd-MM-yyyy" 
                    [min]="di.termFrom" 
                    [max]="editingRfpFormGroup.get('rfpTo').value" 
                    (valueChange)="onRfpFromChange($event)" 
                    [formControl]="editingRfpFormGroup.get(column.field)">
                    </kendo-datepicker>
                  </ng-template>
                </kendo-grid-column>
      
                <kendo-grid-column field="rfpTo" title="To" width="150">
                  <ng-template kendoGridEditTemplate let-column="column" let-formGroup="editingRfpFormGroup"
                    let-dataItem="dataItem">
                    <kendo-datepicker #rfpTo 
                    [min]="editingRfpFormGroup.get('rfpFrom').value" 
                    [max]="di.termTo" 
                    format="dd-MM-yyyy" 
                    (valueChange)="onRfpToChange($event)" 
                    [formControl]="editingRfpFormGroup.get(column.field)">
                    </kendo-datepicker>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <span>{{dataItem.rfpTo | date : 'dd-MM-yyyy'}}</span>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="rfpMD" title="MM/DD" width="100">
                  <ng-template kendoGridEditTemplate let-column="column" let-formGroup="editingRfpFormGroup">
                    <kendo-maskedtextbox #rfpMD 
                    mask="99/99" 
                    includeLiterals="true"
                    [formControl]="editingRfpFormGroup.get(column.field)"
                    (change)="onRfpMDChange($event)"
                    ></kendo-maskedtextbox>
                    <kendo-popup [anchor]="rfpMD"
                      *ngIf="editingRfpFormGroup.get(column.field)?.invalid && !(editingRfpFormGroup.get(column.field).untouched)"
                      popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                      <span class="k-icon k-i-warning"></span>
                      <span>format e.g. 01/00</span>
                    </kendo-popup>
                  </ng-template>
                </kendo-grid-column>
          </kendo-grid-column-group>

          <kendo-grid-column field="remarks" editor="text" title="Remarks"></kendo-grid-column>
          <kendo-grid-command-column title="command" width="200">
            <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
              <button kendoGridEditCommand [disabled]="editingRfpRowIndex >= 0 || dataItem.isLocked || editingRowIndex >= 0" [primary]="true">Edit</button>
              <button kendoGridSaveCommand [disabled]="editingRfpFormGroup?.invalid">Update</button>
              <button kendoGridRemoveCommand [disabled]="editingRfpRowIndex >= 0 || dataItem.isLocked || editingRowIndex >= 0">Remove</button>
              <button kendoGridCancelCommand> Cancel</button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
      </div>
    </kendo-grid>
  </div>
  <kendo-dialog-actions [layout]="'normal'">
    <button kendoButton (click)="close()">Cancel</button>
    <button kendoButton (click)="close()" primary="true">Save</button>
  </kendo-dialog-actions>

</kendo-dialog>

<kendo-dialog  *ngIf="showErrorDialog">
    <kendo-dialog-titlebar>
      <div style="font-size: 18px; line-height: 1.3em;">
        <span class="k-icon k-i-warning"></span> Save Data
      </div>
    </kendo-dialog-titlebar>
    <p style="margin: 30px; text-align: center;">{{errorMessage}}.</p>

    <kendo-dialog-actions [layout]="'normal'">
      <button kendoButton (click)="closeErrorDialog()">OK</button>
    </kendo-dialog-actions>
  </kendo-dialog>

  <kendo-dialog title="Please confirm" *ngIf="showRemoveAssumptionDialog" (close)="removeTermAssumption('cancel')" [width]="300">
      <p style="margin: 30px; text-align: center;">Are you sure you want to delete?</p>
      <kendo-dialog-actions [layout]="'normal'">
          <button kendoButton (click)="removeTermAssumption('no')">No</button>
          <button kendoButton (click)="removeTermAssumption('yes')" primary="true">Yes</button>
      </kendo-dialog-actions>
  </kendo-dialog>
  <kendo-dialog title="Please confirm" *ngIf="showRemoveRfpDialog" (close)="removeRfp('cancel')" [width]="300">
      <p style="margin: 30px; text-align: center;">Are you sure you want to delete?</p>
      <kendo-dialog-actions [layout]="'normal'">
          <button kendoButton (click)="removeRfp('no')">No</button>
          <button kendoButton (click)="removeRfp('yes')" primary="true">Yes</button>
      </kendo-dialog-actions>
  </kendo-dialog>