/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~@progress/kendo-theme-bootstrap/scss/all";
@import "~jquery-ui/themes/base/all.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

html{
    width: 100%;
    height: 100%;
}
.spl-title {
    font-weight: normal;
    text-transform: uppercase
}

.spl-menu-item{
    background-color: #fff!important;
    color:#428bca!important;
    border-width: 1px 1px 1px 1px!important;
    border-style: solid!important;
    border-radius: 0px!important;
    border-color:#aeaeae!important;
}
.form-title{
    margin-top: 10px;
}
.k-popup{
    padding-top: 0px!important;
    padding-bottom:0px!important;
}
.expand-menu ul{
    padding-left:0px;
}
.expand-menu li{
    list-style:none;
    color: #337ab7;
    font-size: 0.9rem;
}
.expand-menu h4{
    text-transform: uppercase;
}
.column{
    border-left: 1px solid #e2e4e7;
    padding-left: 50px;
}

.k-window-titlebar{
    background-color: #007bff;
}
.ag-header-cell-label .ag-header-cell-text {
    white-space: normal !important;
  }

  .k-list .k-item:hover.k-state-selected,.k-list .k-item.k-state-hover.k-state-selected,.k-list-optionlabel:hover.k-state-selected,.k-list-optionlabel.k-state-hover.k-state-selected{
   color: #fff;
   background-color:#007bff!important;   
  }

  .k-toolbar{
      background-color: #f1f7ff;
  }

  .cell-number{
      text-align: right;
      padding-right: 20px!important;
  }